/* Requests.css */
.requests-table {
  width: 100%;
  border-collapse: collapse;
}

.requests-table th,
.requests-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.requests-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.requests-table tbody tr:hover {
  background-color: #f2f2f2;
}
.button-accept {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button-accept:hover {
  background-color: #3a8b3e; /* Darker Green */
}