.dashboard {
    width: 100%;
    background-color: #f2f2f2;
}

ul li {
    text-align: center;
    border-left: 2px solid #fc3041 !important;
    border-bottom: 2px solid #f2f2f2 !important;
    
}

ul li:hover,
ul li:focus {
    cursor: pointer;
    background-color: #fc3041;
    color:#ffff;
    transition: color .3s, background-color .3s;
}

.active {
    background-color: #fc3041;
    color:#ffff;
}

@media (min-width:768px) {
    .menu__mobile {
        display: none !important;
    }
    .menu__desktop {
        display: block !important; 
    }
}

@media (max-width:768px) {
    .menu__mobile {
        display: block !important;
    }

    .menu__desktop {
        display: none !important;
    }
}