.modal-open {
    position: fixed;
    z-index: 1000; /* Set z-index to ensure it appears on top of everything */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Dark overlay with some transparency */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-open {
    background-color: #fff; /* White background for the modal content */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    padding: 20px;
    width: 80%; /* Adjust width as needed */
    max-width: 500px; /* Limit maximum width for better readability */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Light border at the bottom of header */
    padding-bottom: 10px; /* Add some space at the bottom */
    margin-bottom: 20px; /* Add some space below the header */
}

.modal-header h2 {
    margin: 0; /* Remove margin from heading */
}

.modal-close {
    cursor: pointer; /* Change cursor to pointer on hover */
    padding: 5px; /* Add some padding for easier click */
    border: none; /* Remove default button border */
    background: none; /* Transparent background */
    font-size: 20px;
    color: #999; /* Light gray color */
    transition: color 0.3s; /* Smooth transition for color change */
}

.modal-close:hover {
    color: #333; /* Darker color on hover */
}

.modal-body {
    margin-bottom: 20px; /* Add some space below the body */
}
