.table {
    --bs-table-bg: transparent !important;
}

.positive {
    font-size: 14px !important;
    border-radius: 20px !important;
    background-color: #baebbc !important;
}

.negative {
    font-size: 14px !important;
    background-color: #f99f9f !important;
}